<section style="margin-left: 241px">
  <p class="text-gray-900 text-4xl  font-extrabold dark:text-black"> <i class="fa fa-product-hunt" style="font-size:48px;color:red"></i>Products </p>
  <p class="text-gray-400 text-2xl  font-extrabold dark:text-blue-500">Dashboard <span class="text-gray-400 text-2xl  font-light dark:text-black">/Product</span> </p>
  <button class="bg-grey-light hover:bg-grey text-grey-darkest font-bold py-2 px-4 rounded inline-flex items-center">
    <i class="fa fa-arrow-circle-left" style="font-size:25px"></i>
    <span class="text-xl font-light">Back</span>
  </button>
  <div class="container">
    <div class="row">
      <textarea id="message" rows="1" class="block p-2.5 w-80 text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500  mb-2 dark:focus:border-blue-500" placeholder="Search Product..."></textarea>
      <button type="button" class="text-white bg-gradient-to-br from-purple-600 to-blue-500 w-80 justify-end hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2" (click)="open(content)">Add Product</button>
    </div>
  </div>
  <div class="grid grid-cols-1 p-8 gap-8 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
    <div class="transition-transform transform hover:scale-105 cursor-pointer duration-300 ease-in-out" *ngFor="let product of products"  >
      <article   class="overflow-hidden rounded-lg shadow-lg">
        <img alt="Placeholder" class="block h-auto w-full" src="https://picsum.photos/600/400/?random">
        <header class="flex items-center justify-between leading-tight p-2 md:p-4">
          <h1 class="text-sm-start ">
            <a class="no-underline hover:underline text-black" >
              Name : {{product.productName}}
            </a>
          </h1>

        </header>
        <header class="flex items-center justify-between leading-tight p-2 md:p-4">
          <p class="text-sm">
            <a class="no-underline hover:underline text-black description" >
              Name : {{product.productCode}}
            </a>
          </p>
        </header>


        <footer class="flex items-center justify-between leading-none p-2 md:p-4">
          <a class="flex items-center no-underline hover:underline text-black" >
            <p class="ml-2 text-sm">
             Selling Price {{product.sellingPrice}}
            </p>
          </a>
          <a class="no-underline  text-grey-darker hover:text-red-dark " >
            <p class="ml-2 text-sm">
              Quantity: {{product.quantity}}
            </p>
          </a>
        </footer>
        <footer class="flex items-center justify-between leading-none p-2 md:p-4 ">
          <a class="flex items-center no-underline hover:underline text-black description" >
            <p class="ml-2 text-sm">

              Category: {{product.category}}
            </p>
          </a>
          <a class="no-underline text-grey-darker hover:text-red-dark description" >
            <p class="ml-2 text-sm">
            Arrived on: {{product.dateReceived}}
            </p>
          </a>
        </footer>
        <footer class="flex items-center justify-between leading-none p-2 md:p-4 ">
          <a class="flex items-center no-underline hover:underline text-black description" >
            <p class="ml-2 text-sm">
              Expiry: {{product.expiryDate}}
            </p>
          </a>
          <a class="no-underline text-grey-darker hover:text-red-dark" >
            <p class="ml-2 text-sm">
              Shelf_Life: {{product.diff}}
            </p>
          </a>
        </footer>
        <footer class="flex items-center justify-between leading-none p-2 md:p-4  ">
          <a class="flex items-center no-underline hover:underline text-black description" >
            <p class="ml-2 text-sm">
              Buying price: {{product.buyingPrice}}
            </p>
          </a>
          <a class="no-underline text-grey-darker hover:text-red-dark description" >
            <p class="ml-2 text-sm">
              Stock_Amt: {{product.totalProductAmount}}
            </p>
          </a>
        </footer>
        <footer class="flex items-center justify-between leading-none p-2 md:p-4  ">
          <a class="flex items-center no-underline hover:underline text-black description" >
            <p class="ml-2 text-sm">
              Supplier: {{product.supplier}}
            </p>
          </a>
          <a class="no-underline text-grey-darker hover:text-red-dark" >
            <p class="ml-2 text-sm">
             Expiry: {{product.expiryDate}}
            </p>
          </a>
        </footer>
      </article>
    </div>
  </div>

  <!--  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">-->
<!--    <div class="flex items-center justify-between pb-4">-->
<!--      <div>-->
<!--        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">-->
<!--          <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">-->
<!--          <tr>-->
<!--            <th scope="col" class="px-6 py-3">-->
<!--              Product Code-->
<!--            </th>-->
<!--            <th scope="col" class="px-6 py-3">-->
<!--              Product Name-->
<!--            </th>-->
<!--            <th scope="col" class="px-6 py-3">-->
<!--              category-->
<!--            </th>-->
<!--            <th scope="col" class="px-6 py-3">-->
<!--              supplier-->
<!--            </th>-->
<!--            <th scope="col" class="px-6 py-3">-->
<!--              Date Received-->
<!--            </th>-->
<!--            <th scope="col" class="px-6 py-3">-->
<!--              expiryDate-->
<!--            </th>-->
<!--            <th scope="col" class="px-6 py-3">-->
<!--              buyingPrice-->
<!--            </th>-->
<!--            <th scope="col" class="px-6 py-3">-->
<!--              sellingPrice-->
<!--            </th>-->
<!--            <th scope="col" class="px-6 py-3">-->
<!--              quantity-->
<!--            </th>-->
<!--            <th scope="col" class="px-6 py-3">-->
<!--              Validity-->
<!--            </th>-->
<!--            <th scope="col" class="px-6 py-3">-->
<!--              Total Product Amount-->
<!--            </th>-->
<!--          </tr>-->
<!--          </thead>-->
<!--          <tbody>-->
<!--          <tr *ngFor="let product of products" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">-->

<!--            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">-->
<!--              {{product.productCode}}-->
<!--            </th>-->
<!--            <td class="px-6 py-4">-->
<!--             {{product.productName}}-->
<!--            </td>-->
<!--            <td class="px-6 py-4">-->
<!--             {{product.category}}-->
<!--            </td>-->
<!--            <td class="px-6 py-4">-->
<!--              {{product.supplier}}-->
<!--            </td>-->
<!--            <td class="px-6 py-4">-->
<!--              {{product.dateReceived}}-->
<!--            </td>-->
<!--            <td class="px-6 py-4">-->
<!--              {{product.expiryDate}}-->
<!--            </td>-->
<!--            <td class="px-6 py-4">-->
<!--              {{product.buyingPrice}}-->
<!--            </td>-->
<!--            <td class="px-6 py-4">-->
<!--              {{product.sellingPrice}}-->
<!--            </td>-->
<!--            <td class="px-6 py-4">-->
<!--              {{product.quantity}}-->
<!--            </td>-->
<!--            <td class="px-6 py-4">-->
<!--              {{product.diff}}-->
<!--            </td>-->
<!--            <td class="px-6 py-4">-->
<!--              {{product.totalProductAmount}}-->
<!--            </td>-->
<!--            <td class="px-6 py-4">-->
<!--              <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>-->
<!--            </td>-->
<!--          </tr>-->
<!--          </tbody>-->
<!--        </table>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
</section>
<ng-template #content let-modal>
  <div class="modal-header">
    <h3 class="text-xl font-semibold text-gray-900 dark:text-white"><i class="fa fa-shopping-basket" style="font-size:24px;color:red"></i>Add Product</h3>
    <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"  (click)="modal.dismiss('Cross click')" data-modal-hide="staticModal">
      <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg> </button>
  </div>
  <div class="modal-body">
   <app-product-form></app-product-form>
  </div>
  <div class="modal-footer">
    <button type="button" class=" bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>


<hr />

<pre>{{ closeResult }}</pre>





